#loginHeader {
  position: absolute;
  top: 0;
  background: transparent url(../images/bg.jpg) no-repeat center center;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  height: 400px;
  width: 100%;
}
#loginContent {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 420px;
  right: 40px;
  left: 40px;
  border: 1px solid #000;
  height: 200px;
  text-align: center;
}
.loginForm {
  background: #ffffff;
  width: 400px;
  height: 200px;
  margin: 0 20px 0 20px;
  border: 1px solid #006600;
  display: inline-block;
  text-align: left;
}
