<br /><br /><br /><br />
<div class="event-search">
<md-input-container flex>
  <label class="md-label-input">Cerca Evento</label>
  <input class="md-label-input" ng-model="search">
  <md-icon md-svg-src="images/svg/search19.svg" class="md-icon-input"></md-icon>
</md-input-container>
</div>


<md-whiteframe ng-repeat="event in events | filter:search" class="md-whiteframe-material-web" layout layout-align="center center">
  <md-card style="margin:0;">
    <img class="event-img" src="{{ event.image }}">
    <md-card-content>
      <h2 class="md-title">{{ event.name }}</h2>
      <md-checkbox style="margin-top:-48px;" align="right" ng-model="checked" aria-label="Checkbox 1">
        Mostra tutto
      </md-checkbox>

      <p>{{ event.description }}</p>
      <md-content class="check-element animate-hide" ng-show="checked">
        <md-divider></md-divider>
        <md-list>
          <md-item>
            <md-item-content>
              <md-icon md-svg-src="images/svg/date.svg" class="event-icon-list"></md-icon>
              <p class="event-tile-content">{{ event.date }}</p>
            </md-item-content>
            <md-divider></md-divider>
          </md-item>

          <md-item>
            <md-item-content>
              <md-icon md-svg-src="images/svg/pin56.svg" class="event-icon-list"></md-icon>
              <p class="event-tile-content">{{ event.location }}</p>
            </md-item-content>
          </md-item>
        </md-list>
      </md-content>
    </md-card-content>
  </md-card>
</md-whiteframe>

