<div ng-controller="EventsCtrl">
  <md-content>
    <div style="height:192px; background: #3F51B5; z-index:1;"></div>

    <md-whiteframe class="md-whiteframe-material-web" layout layout-align="center center">
      <span>Events view.</span>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-material-web2" layout layout-align="center center">
      <span>Events view.</span>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-material-web2" layout layout-align="center center">
      <span>Events view.</span>
    </md-whiteframe>

  </md-content>
</div>
