<!-- Palette Registrazione -->
<md-whiteframe class="md-whiteframe-material-web" layout layout-align="center center">
  <div layout-fill>
    <md-toolbar class="md-warn md-tall">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Login</h2>
      </div>
    </md-toolbar>

    <md-button class="md-fab md-fab-middle-right md-primary" aria-label="Login">
      <md-icon md-svg-src="images/svg/expand38.svg"></md-icon>
    </md-button>

    <md-content class="md-padding">
      <form name="loginForm">
        <md-input-container flex>
          <label class="md-label-input">Username</label>
          <input class="md-label-input" type="text">
          <md-icon md-svg-src="images/svg/user77.svg" class="md-icon-input"></md-icon>
        </md-input-container>
        <md-input-container flex>
          <label class="md-label-input">Password</label>
          <input class="md-label-input" type="password">
          <md-icon md-svg-src="images/svg/qr2.svg" class="md-icon-input"></md-icon>
        </md-input-container>
      </form>
    </md-content>
  </div>
</md-whiteframe>

<!-- Palette Registrazione -->
<md-whiteframe class="md-whiteframe-material-web" layout layout-align="center center">
  <div layout-fill>
    <md-toolbar class="md-warn md-tall">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Registrati</h2>
      </div>
    </md-toolbar>

    <md-button class="md-fab md-fab-middle-right md-primary" aria-label="Login">
      <md-icon md-svg-src="images/svg/expand38.svg"></md-icon>
    </md-button>

    <md-content class="md-padding">
      <form name="signupForm">
        <md-input-container flex>
          <label class="md-label-input">Nome</label>
          <input class="md-label-input" type="text">
          <md-icon md-svg-src="images/svg/user77.svg" class="md-icon-input"></md-icon>
        </md-input-container>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Cognome</label>
            <input type="text">
          </md-input-container>
          <md-input-container md-no-float flex>
            <input type="text" placeholder="Data Nascita" onfocus="(this.type='date')" onblur="(this.type='text')" ng-required="false">
          </md-input-container>
        </div>

        <md-input-container md-no-float>
          <label class="md-label-input">E-Mail</label>
          <md-icon md-svg-src="images/svg/email5.svg" class="md-icon-input"></md-icon>
          <input class="md-label-input" type="text">
        </md-input-container>

        <md-input-container md-no-float>
          <label class="md-label-input">Password</label>
          <md-icon md-svg-src="images/svg/qr2.svg" class="md-icon-input"></md-icon>
          <input class="md-label-input" type="password">
        </md-input-container>

        <md-input-container md-no-float>
          <label class="md-label-input">Telefono</label>
          <md-icon md-svg-src="images/svg/call5.svg" class="md-icon-input"></md-icon>
          <input class="md-label-input" type="text">
        </md-input-container>

        <md-input-container md-no-float>
          <label class="md-label-input">Indirizzo</label>
          <md-icon md-svg-src="images/svg/pin56.svg" class="md-icon-input"></md-icon>
          <input class="md-label-input" type="text">
        </md-input-container>
      </form>
    </md-content>
  </div>
</md-whiteframe>
