<div id="loginHeader">
</div>

<div id="loginContent">
  <div class="loginForm">
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
      <h3>Login</h3>
      <div layout="column">
        <br/>
        <md-content layout-padding>
          <md-input-container class="md-icon-float" >
            <!-- Use floating label instead of placeholder -->
            <label>Name</label>
            <md-icon md-svg-src="/demo-partials/input/demoIcons/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="user.name" type="text">
          </md-input-container>
        </md-content>
      </div>
    </md-whiteframe>
  </div>

  <div class="registrationForm">
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
      <h3>Non hai un account?</h3>
      <div layout="column">
        <br/>
        <md-content layout-padding>
          <md-input-container class="md-icon-float" >
            <!-- Use floating label instead of placeholder -->
            <label>Name</label>
            <md-icon md-svg-src="/demo-partials/input/demoIcons/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="user.name" type="text">
          </md-input-container>
        </md-content>
      </div>
    </md-whiteframe>
  </div>
</div>
